<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zrj.mall.order.mapper.OmsOrderItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zrj.mall.order.entity.OmsOrderItem">
        <id column="id" property="id" />
        <result column="order_id" property="orderId" />
        <result column="spu_name" property="spuName" />
        <result column="sku_id" property="skuId" />
        <result column="sku_sn" property="skuSn" />
        <result column="sku_name" property="skuName" />
        <result column="pic_url" property="picUrl" />
        <result column="price" property="price" />
        <result column="count" property="count" />
        <result column="total_amount" property="totalAmount" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

</mapper>
