<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zrj.payment.mapper.TSysRoleEntRelaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.zrj.payment.entity.TSysRoleEntRela">
        <id column="role_id" property="roleId" />
        <id column="ent_id" property="entId" />
    </resultMap>

</mapper>
